build
build_fuzz
*.tar.bz2
*.tar.zstd
cmake-build-*
*.o
*~
*.rej
*.orig
CMakeLists.txt.user
callgrind.out.*
*.profraw
*.profdata
coverage/
stage
*.swp   # vim swap file.
*.orig  # kdiff3 files
*.-swp  # kwrite work file.

